$dark: #000000;
$light: #ffffff;
$light-grey: #555555;
$gold: #f9bb16;

$heading-font-stack: Impact, Charcoal, "Arial Black", Gadget, sans-serif;

@mixin heading-font() {
  font-family: $heading-font-stack;
  text-transform:uppercase;;
}

#header {
  background-color: $dark;
  border-bottom: 2px solid $gold;

  .pagename {
    color: $light;

    a {
      color: inherit;
    }
  }

  .tabmenu {
    display: block;
    text-align: center;
    margin-bottom: 30px;

    li {
      font-size: 18pt;

      a {
        @include heading-font();
        background-color: transparent;
        color: $light-grey;
      }

      a:hover {
        color: $light;
      }
    }

    .selected {
      a {
        color: $light;
        border: none;
      }
    }

    // hot
    [href$="/r/AdventureGuild/"] {
    }

    // new
    [href$="/new/"] {
    }

    // rising
    [href$="/rising/"] {
    }

    // controversial
    [href$="/controversial/"] {
      display: none;
    }

    // top
    [href$="/top/"] {
    }

    // gilded
    [href$="/gilded/"] {
      display: none;
    }

    // wiki
    [href$="/wiki/"] {
      display: none;
    }

    // promoted
    [href$="/ads/"] {
      display: none;
    }
  }
}
