$dark: #000000;
$light: #ffffff;
$light-grey: #555555;
$gold: #f9bb16;

$heading-font-stack: Impact, Charcoal, "Arial Black", Gadget, sans-serif;

$common-transition-time: .2s;

@mixin heading-font() {
  font-family: $heading-font-stack;
  text-transform:uppercase;;
}

@mixin hide-tab() {
  display: none;
  margin-left: -3px;
  margin-right: -3px;
}

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

#header {
  background-color: $dark;
  border-bottom: 2px solid $gold;
  height: 170px;

  #sr-header-area {
    background-color: transparent;
    border: none;

    .width-clip {
      right: 300px;
      margin-top: 2px;

      .selected.title, a {
        @include transition($common-transition-time);
        color: $light-grey;
      }

      &:hover {
        .selected.title, a {
          @include transition($common-transition-time);
          color: $light;
        }
      }

      .drop-choices {
        background-color: $dark;
        border-color: $light-grey;

        a {
          @include transition($common-transition-time);
          background-color: transparent;

          &:hover {
            @include transition($common-transition-time);
            background-color: $light-grey;
          }
        }

        a.bottom-option.choice {
          border-top-color: $light-grey;
        }
      }

      .sr-list {
        margin-right: 48px;
      }

      #sr-more-link {
        background-color: transparent;
      }
    }
  }

  #header-bottom-right {
    background-color: transparent;
    top: 0px;
    bottom: auto;

    a, #userbarToggle {
      @include transition($common-transition-time);
      color: $light-grey;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      a, #userbarToggle {
        @include transition($common-transition-time);
        color: $light;
      }
    }
  }

  #header-img {
    position: absolute;
    bottom: 65px;
    left: 3%;
    background-image: url(%%ag-reddit-logo%%);
    background-position: center;
    background-size: 180px, 60px;
    width: 180px;
    height: 60px;
  }

  .pagename {
    color: $light;
    font-size: 0;

    a {
      color: inherit;
      display: block;
      width: 510px;
      height: 49px;
      background: url(%%adventure-guild%%) no-repeat center center;
      position: absolute;
      left: 50%;
      margin-left: -255px;
      bottom: 70px;
    }
  }

  .tabmenu {
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;

    li {
      font-size: 18pt;
      margin: 0px;

      a {
        @include heading-font();
        background-color: transparent;
        padding-left: 20px;
        padding-right: 20px;
        @include transition($common-transition-time);
        color: $light-grey;
      }

      a:hover {
        @include transition($common-transition-time);
        color: $light;
      }
    }

    .selected {
      a {
        color: $light;
        border: none;
      }
    }

    // hot
    [href$="/r/AdventureGuild/"] {
    }

    // new
    [href$="/new/"] {
    }

    // rising
    [href$="/rising/"] {
    }

    // controversial
    [href$="/controversial/"] {
      @include hide-tab();
    }

    // top
    [href$="/top/"] {
    }

    // gilded
    [href$="/gilded/"] {
      @include hide-tab();
    }

    // wiki
    [href$="/wiki/"] {
      @include hide-tab();
    }

    // promoted
    [href$="/ads/"] {
      @include hide-tab();
    }
  }
}

// RES-only selectors
.res {
  #srLeftContainer {
    margin-top: 3px;

    a {
      @include transition($common-transition-time);
      color: $light-grey;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      a {
        @include transition($common-transition-time);
        color: $light;
      }
    }

    .srSep {
      color: $light-grey;
    }
  }

  #RESShortcutsViewport {
    margin-top: 3px;
    margin-right: 370px;
    color: $light-grey;
  }

  #RESShortcutsEditContainer {
    top: 24px;
    background-color: transparent;

    &>div {
      @include transition($common-transition-time);
      color: $light-grey;
    }

    &:hover>div {
      @include transition($common-transition-time);
      color: $light;
    }

    #RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash {
      background-color: transparent;

      &:hover {
        border-bottom: 1px solid $light;
      }
    }
  }

  #userbarToggle {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: $light-grey;
    line-height: 17pt;
    font-size: small;
    left: -2px;
  }
}
