$dark: #000000;
$light: #ffffff;
$gold: #f9bb16;

$heading-font-stack: Impact, Charcoal, "Arial Black", Gadget, sans-serif;

@mixin heading-font() {
  font-family: $heading-font-stack;
  text-transform:uppercase;;
}

#header {
  background-color: $dark;
  border-bottom: 2px solid $gold;

  .pagename {
    color: $light;

    a {
      color: inherit;
    }
  }

  .tabmenu {
    display: block;
    text-align: center;
    margin-bottom: 30px;

    li {
      a {
        @include heading-font();
        background-color: transparent;
        color: $light;
      }
    }
  }
}
